body {
	background-color:#EBEBEB;
}
#WRAPPER {
	margin:0 auto;
	width:1920px;
	height:1080px;
	padding:0 0px;
	background-color:#698B22;
	overflow:auto;
}

#Wrapper2 {
	float:left;
	width:1800px;
	height:1080px;
	margin:0px;
	margin:0px;
	background-color:#FFEC8B;
	background:url("../pic/golden.jpg");
	overflow:hidden;
	position:relative;
}

#Function {
	margin-left:1800px;
	margin-top:0px;
	width:120px;
	height:1080px;
	background-color:#FFA500;
	background:url("../pic/silver1.jpg");
}

button {
	color:#4D4D4D;
	font-size:130%;
	font-family: JOKERMAN;
	margin-left:30px;
	margin-top:25px;
	width: 80px; 
	height: 80px; 
	-moz-border-radius: 40px; 
	-webkit-border-radius: 40px; 
	border-radius: 40px; 
	/*background-image:url(pic/ocean3.jpg);*/
	background:url("../pic/button1.jpg");
	border:2px #CDC5BF solid; 
	glow(color=#Ff0000,strength=40);
	box-shadow:2px 2px 4px #666;
}

button:hover,button.hover {
	box-shadow:2px 2px 2px 2px red;
   /*color:#EE9A49;
   background: -webkit-gradient(linear, left top, right bottom, from(#FFFAF0), to(#FFC125));
   background: -moz-gradient(linear, left top, right bottom, from(#FFFAF0), to(#FFC125));
*/
}


#Canvas, #Map {
      position:absolute;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      margin-left:0px;
      margin-top:0px;
      background-color:transparent;
}

#Map {
      z-index: 9;
}

#Canvas {
      z-index: 9;
}

.pointerEnabel {
      pointer-events:auto;
}
.pointerDisable {
      pointer-events:none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.switch {
  margin: 50px auto;
  position: relative;
}

.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* DEMO 1 */

.switch.demo1 {
  width: 80px;
  height: 80px;
  margin-top:25px;
  margin-left:30px;
  border-radius: 50%;
  border:2px #CDC5BF solid; 
	glow(color=#Ff0000,strength=40);
	box-shadow:2px 2px 4px #666;
}

.switch.demo1:hover,.switch.demo1.hover {
	box-shadow:2px 2px 2px 2px red;
	border-radius: 50%;
}
   
.switch.demo1 label {
  border-radius: 50%;
  background: #eaeaea;
  background:url("../pic/button1.jpg");
  box-shadow: 
      0 3px 5px rgba(0,0,0,0.25),
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 -5px 5px rgba(100,100,100,0.1),
      inset 0 5px 5px rgba(255,255,255,0.3);
}

.switch.demo1 label:after {
  content: "";
  position: absolute;
  top: -8%; right: -8%; bottom: -8%; left: -8%;
  z-index: -1;
  border-radius: inherit;
  background: #ddd;
  background: -moz-linear-gradient(#ccc, #fff);
  background: -ms-linear-gradient(#ccc, #fff);
  background: -o-linear-gradient(#ccc, #fff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#fff));
  background: -webkit-linear-gradient(#ccc, #fff);
  background: linear-gradient(#ccc, #fff);
  box-shadow: 
    inset 0 2px 1px rgba(0,0,0,0.15),
    0 2px 5px rgba(200,200,200,0.1);
	
}

.switch.demo1 label:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: inherit;
  left: 40%;
  top: 40%;
  background: #969696;
  background: radial-gradient(40% 35%, #ccc, #969696 60%);
  box-shadow:
      inset 0 2px 4px 1px rgba(0,0,0,0.3),
      0 1px 0 rgba(255,255,255,1),
      inset 0 1px 0 white;
}

.switch.demo1 input:checked ~ label {
  background: #dedede;
  background: -moz-linear-gradient(#dedede, #fdfdfd);
  background: -ms-linear-gradient(#dedede, #fdfdfd);
  background: -o-linear-gradient(#dedede, #fdfdfd);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#fdfdfd));
  background: -webkit-linear-gradient(#dedede, #fdfdfd);
  background: linear-gradient(#dedede, #fdfdfd);
  background:url("../pic/button1.jpg");
}

.switch.demo1 input:checked ~ label:before {
  background: #25d025;
  background: radial-gradient(40% 35%, #5aef5a, #25d025 60%);
  box-shadow:
      inset 0 3px 5px 1px rgba(0,0,0,0.1),
      0 1px 0 rgba(255,255,255,0.4),
      0 0 10px 2px rgba(0, 210, 0, 0.5);
}

li > a{
	border-radius: 8px;
	box-shadow:2px 2px 4px #666;
    color: #4D4D4D; 
	font-family: JOKERMAN;
	font-size: 14px; 
	text-decoration: none; 
	
	background:url("../pic/golden.jpg")#efefef no-repeat; 
}
a:hover {  
	box-shadow:1px 1px 0px #666;
	/*color: rgba(0, 0, 0, 0);*/
	font-size: 24px; 
	color: #FFFF00; 
	
	
}

#dwlink {
	position:absolute;
	z-index:10;
	left: 10px;
	bottom:10px;
}


#inputfile {
	text-decoration: underline;
	position:absolute;
    color: #4D4D4D; 
	font-family: JOKERMAN;
	font-weight:bold;
	text-shadow:2px  2px  2px  #CCCCCC;
	font-size: 14px; 
	z-index:10;
	right: 10px;
	bottom:10px;
	overflow: hidden;
	width: 60px;
	height: 60px;
	border-radius: 10px; 
	cursor: pointer;
	background:url("../pic/golden.jpg");
	opacity:0.6;
	filter:alpha(opacity=40);
	
	border:2px  2px 2px#CDC5BF solid; 
	glow(color=#Ff0000,strength=40);
	box-shadow:2px 2px 4px #666;
}

input {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}

input {
-webkit-writing-mode: horizontal-tb;
}
Inherited from div.upload2

input, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}


.hide_file2 {
position: absolute;
left: 0;
top: 0;
font-size: 90px;
margin: -20px 0 0 -1100px;
opacity: 0;
filter: alpha(opacity=0);
cursor: pointer;
}

